@import "../styles/variable.scss";

.tophead {
  display: flex;
  justify-content: right;
  gap: 1rem;
  padding: 1rem $resPadding;
  padding-bottom: 5px;
  .socials {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 0.5rem;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem $resPadding;

  .left {
    img {
      width: 100px;
    }
  }

  .right ul {
    display: flex;
    justify-content: right;
    gap: 2rem;
    align-items: center;
  }
}
