@import "./variable.scss";

.heroComp {
  .container {
    padding: 2rem $resPadding;
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;

    @include breakpoint(md) {
      padding: 1rem $resPadding;
      padding-bottom: 0;
    }

    .content {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
      .top {
        h3 {
          border: 0;
          font-style: inherit;
          outline: 0;
          padding: 0;
          vertical-align: baseline;
          clear: both;
          box-sizing: border-box;
          line-height: 1.3;
          // font-size: 3rem;
          font-size: calc(2rem + 3vw);
          font-family: "Poppins", sans-serif;
          transition: all 0.3s ease;
          margin: 0;
          margin-bottom: -15px;
          font-weight: 500;
          color: #ee7b28;
          @include breakpoint(md) {
            margin-bottom: -35px;
          }
        }
        h2 {
          border: 0;
          font-style: inherit;
          outline: 0;
          vertical-align: baseline;
          clear: both;
          box-sizing: border-box;
          padding: 0;
          line-height: 1.2;
          font-weight: 700;
          font-family: "Poppins", sans-serif;
          margin: 0;
          color: #00adef;
          // font-size: 131px;
          font-size: calc(60px + 5vw);
        }
      }
      p {
        border: 0;
        font-style: inherit;
        font-weight: inherit;
        margin: 0;
        outline: 0;
        padding: 0;
        vertical-align: baseline;
        box-sizing: border-box;
        margin-bottom: 10px;
        margin-top: 10px;
        color: $brownish;
        font-family: "Lato", Sans-serif;
        font-size: 15px;
        line-height: 25px;
      }
      .hero_button_joins {
        display: flex;
        justify-content: start;
        flex-direction: column;
        gap: 0;
        margin-bottom: 10px;

        @include breakpoint(md) {
          flex-direction: row;
        }
        button {
          // padding: 1rem 2rem;
          border: none;
          cursor: pointer;
          display: inline-block;
          font-size: 16px;
          line-height: 30px;
          font-weight: 700;
          outline: 0;
          position: relative;
          -webkit-transition: all 0.4s ease;
          transition: all 0.4s ease;
          text-align: center;
          overflow: hidden;
          color: #fff;
          // width: 100%;
          background-color: #3b3b3b;
          padding: 20px 50px;
          z-index: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 1rem;
        }

        .or-container {
          // display: none;
        }

        // @include breakpoint(md) {
        .or-container {
          // display: block;
          position: relative;
          text-align: center;
          // margin-right: 10px; /* Adjust the margin as needed */
        }
        // }

        .or-sign {
          width: 40px;
          height: 40px;
          display: flex;
          -webkit-box-align: center;
          align-items: center;
          -webkit-box-pack: center;
          justify-content: center;
          padding: 10px;
          border-radius: 100%;
          box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 6px;
          background: rgb(250, 250, 248);
          color: rgb(68, 68, 68);
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          font-size: 14px;
          z-index: 5;
          font-size: 14px;
          text-transform: capitalize;
          line-height: 26px;
        }
        .open_account {
          background-color: $primary;
          color: white;
        }
      }
    }

    .image {
      display: none;
    }
    @include breakpoint(mdP) {
      .image {
        display: block;
        height: 450px;

        img {
          height: 100%;
          width: auto;
        }
      }
    }
  }
}

.statsComp {
  background-color: $primary;
  width: 100%;

  .container {
    padding: 2rem $resPadding;

    @include breakpoint(md) {
      padding: 6rem $resPadding;
    }

    .stats {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: calc(1rem + 6vw);
      align-items: center;

      @include breakpoint(md) {
        flex-direction: row;
      }

      .stat {
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;

        .icon {
          font-size: 45px;
        }
        h3 {
          // font-size: 60px;
          // font-size: clamp(60px, 2.5vw, 30px);
          font-size: calc(30px + 2vw);
          line-height: 60px;
          margin: 0;
        }

        .title {
          margin: 0;
          font-size: 21px;
          line-height: 28px;
          text-align: center;
        }
      }
    }
  }
}

.whatweofferComp {
  .container {
    padding: 2rem $resPadding;
    .header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 18px;
      text-align: center;
      padding-bottom: 0rem;

      @include breakpoint(md) {
        padding-bottom: 3rem;
      }
      h3 {
        font-family: $raieway;
        font-size: 36px;
        margin: 0;
        text-align: center;
      }

      // span {
      //   color: $primary;
      //   font-family: $playfair;
      // }
      p {
        color: #565656;
        font-size: 16px;
        margin: 0;
      }
    }

    .offers {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      gap: 1rem;

      @include breakpoint(md) {
        flex-direction: row;
      }

      .offer {
        padding: 5px 11px;
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;

        @include breakpoint(mdP) {
          padding: 45px 61px;
        }
        @include breakpoint(md) {
          padding: 15px 31px;
          width: 400px;
        }

        .icon {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          .muicon {
            color: white;
            background-color: $primary;
            margin: 5px;
            padding: 15px;
            width: 100px; /* Set the width and height to create a perfect circle */
            height: 100px;
            text-align: center;
            border-radius: 50%;
            font-size: 25px;
          }
        }
        h4 {
          font-family: $raieway;
          font-size: 21px;
          line-height: 25px;
          font-weight: 700;
          color: black;
          text-align: center;
        }

        p {
          font-size: 15px;
          line-height: 25px;
          text-align: center;
          color: $brownish;
          margin: 1rem;
        }
      }
    }
  }
}

.diaspora {
  overflow: hidden;
  .container {
    padding: 0.1rem $resPadding;
    .cards {
      padding: 0;
      /* styles.scss */
      @include breakpoint(md) {
        padding: 0 2rem;
      }

      .item {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;

        @include breakpoint(md) {
          flex-direction: row;
        }

        .content {
          width: 100%;
        }
        .image {
          display: none;
        }

        @include breakpoint(md) {
          .image {
            display: block;
            width: 40%;
          }
        }

        &.even {
          flex-direction: row-reverse;
        }

        .image {
          flex: 1;
          // padding: 20px;

          img {
            width: 100%;
            height: 500px;
            object-fit: contain;
          }
        }

        .content {
          flex: 1;
          padding: 0;
          @include breakpoint(md) {
            padding: 20px;
          }

          h2 {
            color: #000000;
            margin: 0px 0px 17px 0px;
            font-family: "Raleway", Sans-serif;
            font-size: 40px;
            font-weight: 700;
          }
          p,
          ul {
            font-size: 16px;
            line-height: 29px;
            color: $brownish;
          }
          ul {
            list-style-type: square;
          }
        }
      }
    }
  }
}

.applyComp {
  background-color: $third;
  .container {
    padding: 51px 0;
    padding-bottom: 61px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: #fff;

    h3 {
      font-size: 28px;
      font-family: "Poppins", sans-serif;
      margin: 0;

      @include breakpoint(md) {
        font-size: 48px;
        font-size: 3rem;
      }
    }

    p {
      font-size: 18px;
      line-height: 33px;
      margin: 0;
      margin-bottom: 1.5rem;
      width: 750px;
      text-align: center;
      white-space: break-spaces;
      max-width: 100%;
    }
  }
}

.worksComp {
  .container {
    padding: 2rem $resPadding;

    .header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 18px;
      text-align: center;
      h3 {
        font-family: $raieway;
        font-size: 36px;
        margin: 0;
        text-align: center;
      }

      span {
        color: $primary;
        font-family: $playfair;
      }
      p {
        color: #565656;
        font-size: 16px;
        margin: 0;
      }
    }
    .content {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2rem 0;
      // .left,
      // .right {
      //   width: 100%;x
      // }
      .right {
        display: none;
      }
      @include breakpoint(md) {
        .right {
          display: block;
          img {
            // width: 100%;
            height: 500px;
          }
        }
      }
      .left {
        width: 500px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .works {
          display: flex;
          justify-content: left;
          align-items: center;
          gap: 2rem;

          .icon {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .muicon {
              font-size: 45px;
              line-height: 75px;
              margin: 5px;
              padding: 8px;
              border-radius: 50%;
              width: 100px; /* Set the width and height to create a perfect circle */
              height: 100px;
              border: 2px solid $primary;
              color: $primary;
            }
          }

          .texts {
            h2 {
              font-size: 21px;
              line-height: 25px;
            }
            p {
              font-size: 15px;
              line-height: 25px;
            }
          }
        }
      }
    }
  }
}

.offlineForm {
  .container {
    padding: 2rem $resPadding;

    .box {
      margin: 0;
      border-left: 3px solid $third;
      border-right: 3px solid $third;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      padding: 1.5rem;

      @include breakpoint(md) {
        padding: 0px;
        margin: 0 2rem;
        flex-direction: row;
      }
      .left,
      .right {
        width: 100%;
      }

      .left {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-left: 10px;
        h3 {
          font-size: 48px;
          line-height: 62px;
          margin: 0;
          font-weight: 7 00;
        }
        p {
          font-size: calc(6px + 2vw);
          line-height: calc(6px + 2vw);
          // line-height: 46px;
          font-weight: 600;
          text-align: left;
        }
      }
      .right {
        form {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 100%;
          gap: 1rem;

          .formcontrol {
            width: 100%;
            p {
              margin: 0;
              margin-bottom: 8px;
              font-size: 12px;
              line-height: 20px;
              color: $brownish;
            }
            input {
              padding: 10px;
              width: 100%;
              background-color: #ededed;
              border: none;
            }
          }
        }
      }
    }
  }
}

.slideShowComp {
  padding: 1rem $resPadding;
}
