@import "../styles/variable.scss";

.loanCalcComp {
  .container {
    padding: 2rem $resPadding;
    .header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 18px;
      text-align: center;
      h3 {
        font-family: $raieway;
        font-size: 36px;
        margin: 0;
        text-align: center;
      }

      p {
        color: #565656;
        font-size: 16px;
        margin: 0;
      }
    }
    // .mainContent,
    // .calculator {
    //   width: 100%;
    // }

    .mainContent {
      padding: 3rem 0;
      display: flex;
      justify-content: center;
      flex-direction: column-reverse;
      gap: 3rem;
      width: 100%;

      @include breakpoint(mdP) {
        flex-direction: row;
      }

      .description {
        width: 100%;
        @include breakpoint(mdP) {
          width: 500px;
        }
        display: flex;
        flex-direction: column;
        gap: 2rem;
        font-family: $raieway;
        .works {
          display: flex;
          justify-content: left;
          align-items: center;
          gap: 2rem;

          .icon {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .muicon {
              font-size: 25px;
              // line-height: 45px;
              margin: 5px;
              padding: 12px;
              border-radius: 50%;
              width: 70px; /* Set the width and height to create a perfect circle */
              height: 70px;
              border: 2px solid $primary;
              color: $primary;
            }
          }

          .texts {
            h3 {
              font-size: 21px;
              line-height: 25px;
              margin: 1px 0;
            }
            p {
              font-size: 15px;
              line-height: 25px;
              margin: 5px 0;
            }
          }
        }
      }
      .calculator {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        border-radius: 8px;
        padding: 0 10px;
        @media print {
          display: block; /* Show the container when printing */
        }
        @include breakpoint(mdP) {
          width: 500px;
          justify-content: right;
        }
        .box {
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
            rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
          padding: 1rem;
          h3 {
            text-align: center;
            color: black;
          }
          .bar {
            width: 80%;
            margin: 20px auto;
            border: none;
            height: 2px;
            background-color: #dfdfdf !important;
            background-image: none;
          }
          .inputBox {
            display: flex;
            flex-direction: column;
            gap: 15px;
            .form-field {
              display: flex;
              justify-content: left;
              align-items: center;
              gap: 1rem;
              label {
                font-size: 16px;
                line-height: 24px;
                color: #333333;
                width: 330px;
              }
              input,
              select {
                display: block;
                width: 100%;
                padding: 4px 10px;
                font-size: 16px;
                line-height: 1.5;
                color: #333;
                background-color: #fff;
                background-clip: padding-box;
                border: 1px solid #ced4da;
                border-radius: 4px;
                -webkit-transition: border-color 0.15s ease-in-out,
                  -webkit-box-shadow 0.15s ease-in-out;
                transition: border-color 0.15s ease-in-out,
                  -webkit-box-shadow 0.15s ease-in-out;
                transition: border-color 0.15s ease-in-out,
                  box-shadow 0.15s ease-in-out;
                transition: border-color 0.15s ease-in-out,
                  box-shadow 0.15s ease-in-out,
                  -webkit-box-shadow 0.15s ease-in-out;
              }
            }
          }
        }

        .action-field {
          width: 100%;
          display: flex;
          justify-content: space-between;
          gap: 0.5rem;
          padding: 0 1rem;
          margin-top: 1rem;

          button {
            width: 100%;
            background-color: #303e64;
            color: white;
            border: none;
            padding: 8px;
            border-radius: 4px;
            transition: all 0.2s;
            font-size: 16px;
            font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
          }
          button:hover {
            background-color: #286090;
          }
        }
      }
    }
  }
}
@media print {
  body * {
    visibility: hidden;
  }
  .calculator,
  .calculator * {
    visibility: visible;
  }
  .calculator {
    position: absolute;
    left: 0;
    top: 0;
  }
}

.loan-calculator-container {
  /* Your existing styles for the calculator container */

  @media print {
    display: block; /* Show the container when printing */
  }
}

.printable {
  /* Add styles for printing */
  @media print {
    display: block !important; /* Show the container when printing */
  }
}
