// PricingTable.scss
@import "../styles/variable.scss";
.pricing-table {
  display: flex;
  justify-content: space-around;
  margin: 40px 60px;
  font-family: $Poppins;
  gap: 2rem;
}

.mui-card.active {
  box-shadow: rgba(0, 173, 239, 0.4) 0px 0px 0px 2px,
    rgba(0, 173, 239, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.mui-card {
  width: 100%;
  // height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  .front {
    // height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: start;

    .rest {
      // height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: start;
    }
  }
  cursor: pointer;
  .header {
    // height: 85px;
    // margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    // justify-content: start;
    align-items: left;
    text-align: left;
  }
  .action {
    width: 100%;

    button {
      width: 100%;
      padding: 9px 16px;
      border: none;
      background-color: $primary;
      color: white;
      text-transform: capitalize;
      font-size: 16px;
      border-radius: 6px;
    }
  }
  .read {
    font-size: 14px;
  }
  .description {
    padding: 0 16px;
  }
}
.mui-card:hover {
  box-shadow: rgba(0, 173, 239, 0.4) 0px 0px 0px 2px,
    rgba(0, 173, 239, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.pricing-card {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 20px;
  width: 100%;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  .card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    // text-align: center;
    height: 50px;
    margin-bottom: 2rem;
  }

  .card-description {
    color: #666;
    margin-bottom: 15px;
    text-align: justify;
    height: 250px;
    margin-bottom: 2rem;
  }

  .card-section {
    margin: 25px 0;

    .section-title {
      font-size: 1rem;
      margin-bottom: 8px;
    }

    .section-list {
      list-style-type: disc;
      margin-left: 15px;
      padding: 0;

      li {
        margin-bottom: 5px;
      }
    }
  }

  .action {
    width: 100%;

    button {
      width: 100%;
      padding: 9px;
      border: none;
      background-color: $primary;
      color: white;
      text-transform: capitalize;
      font-size: 18px;
      border-radius: 6px;
    }
  }
}
