@import "../styles/variable.scss";

.accountButtons {
  display: flex;
  // font-family: $Poppins;
  transition: all 1s;
}

.accountButtons button {
  // border: 1px solid white;
  padding: 15px 40px;
  // background-color: white;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  // color: white;
  // margin-right: 10px;
}

.accountButtons button:hover {
  background-color: #e0e0e0; /* Change this color to your desired hover effect color */
}

.accountButtons button.right {
  background-color: white;
  // background-color: rgba(229, 133, 36, 0.5);
  border-radius: 0 8px 8px 0;
  // border-left: none;

  border: 1px solid $primary;
}
.accountButtons button.right.active {
  background-color: $primary;
  // border: none;
  color: white;
  border: 1px solid $primary;
}

.accountButtons button.left {
  border-right: none;
  border: 1px solid $primary;
  background-color: white;
  color: $primary;
  // background-color: rgba(0, 172, 240, 0.5);
  border-radius: 8px 0 0 8px;
}
.accountButtons button.left.active {
  // border: none;
  border: 1px solid $primary;
  background-color: $primary; /* Change this color to your desired active button color */
  color: white;
}

.accountType {
  margin-top: 1rem;
  h4 {
    word-wrap: break-word;
    border: 0;
    font-style: inherit;
    outline: 0;
    vertical-align: baseline;
    clear: both;
    box-sizing: border-box;
    padding: 0;
    line-height: 1.3;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    margin: 0;
    color: #ffffff;
    // font-size: 17px;
    font-size: 14px;
  }
}

.hd-container {
  background-image: url("../assets/img/famous-monuments-world_117023-91-1.jpg");
  // Other background properties can be set here
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  // transition: 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 18px;
  margin-bottom: 18px;
  padding: 112px 0px 0px 0px;

  .hd-background-overlay {
    position: absolute;
    box-sizing: border-box;
    height: 100%;
    // position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #00adef;
    opacity: 0.9;
    transition: all 0.5s;
  }
  $main-color: #00adef;
  // $main-color: rgba(229, 133, 36, 1);
  $line-color: rgba(213, 216, 220, 0.3);

  .hd-background-overlay.alhuda {
    background-color: $main-color;
    // background-image: url("../assets/pattern.png");
    // background-size: auto 300px;
    // background-blend-mode: multiply;
    // background-image: linear-gradient(67.5deg, transparent 10%, transparent 10%),
    //   linear-gradient(157.5deg, transparent 10%, transparent 10%),
    //   linear-gradient(67.5deg, transparent 90%, transparent 90%),
    //   linear-gradient(157.5deg, transparent 90%, transparent 90%),
    //   linear-gradient(22.5deg, transparent 10%, transparent 10%),
    //   linear-gradient(112.5deg, transparent 10%, transparent 10%),
    //   linear-gradient(22.5deg, transparent 90%, transparent 90%),
    //   linear-gradient(112.5deg, transparent 90%, transparent 90%),
    //   linear-gradient(
    //     22.5deg,
    //     transparent 33%,
    //     $line-color 33%,
    //     $line-color 36%,
    //     transparent 36%,
    //     transparent 64%,
    //     $line-color 64%,
    //     $line-color 67%,
    //     transparent 67%
    //   ),
    //   linear-gradient(
    //     -22.5deg,
    //     transparent 33%,
    //     $line-color 33%,
    //     $line-color 36%,
    //     transparent 36%,
    //     transparent 64%,
    //     $line-color 64%,
    //     $line-color 67%,
    //     transparent 67%
    //   ),
    //   linear-gradient(
    //     112.5deg,
    //     transparent 33%,
    //     $line-color 33%,
    //     $line-color 36%,
    //     transparent 36%,
    //     transparent 64%,
    //     $line-color 64%,
    //     $line-color 67%,
    //     transparent 67%
    //   ),
    //   linear-gradient(
    //     -112.5deg,
    //     transparent 33%,
    //     $line-color 33%,
    //     $line-color 36%,
    //     transparent 36%,
    //     transparent 64%,
    //     $line-color 64%,
    //     $line-color 67%,
    //     transparent 67%
    //   );
    // background-position: -100px 150px, -150px 150px, -150px 100px, -100px 100px,
    //   -150px 100px, -100px 100px, -100px 150px, -150px 150px, 0 0, 0 0, 0 0, 0 0;
    // background-size: 50px 50px; // Adjust the size as needed
  }

  .hd-content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 105px;
    padding-top: 15px;
    // gap: 20px;

    h1 {
      margin-top: 0;
      // padding: 0;
      font-family: Poppins, sans-serif;
      font-size: 60px;
      font-style: normal;
      font-weight: 700;
      line-height: 72px;
      color: rgb(255, 255, 255);

      font-size: calc(35px + 2.3vw);
      line-height: calc(40px + 2.5vw);
      // fontsize: 60px; /* Maximum font size for larger screens */

      // @include breakpoint(md) {
      //   font-size: 45px;
      //   font-weight: 700;
      //   line-height: 50px;
      // }
    }

    p {
      margin: 0;
      font-family: "Open Sans", sans-serif;
      font-size: 25px;
      font-size: calc(18px + 2.5vw);
      font-style: normal;
      font-weight: 400;
      line-height: 46.4286px;
      line-height: calc(25px + 2.5vw);
      text-align: left;
      // text-align: center;
      color: rgb(255, 255, 255);
    }
  }

  .hd-footer {
    transform: rotate(180deg);
    bottom: -1px;
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    line-height: 0;
    direction: ltr;

    .svg {
      width: calc(100% + 1.3px);
      height: 75px;
      z-index: -1;
      overflow: hidden;
      display: inline;
      overflow: hidden;
      display: block;
      width: calc(100% + 1.3px);
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.gl.hd-container {
  background-image: none;
  padding: 59px 0px 0px 0px;
  padding-left: 8%;

  .gl.hd-content {
    align-items: flex-start;

    h1 {
      margin-bottom: 20px;
    }

    p {
      word-wrap: break-word;
      border: 0;
      font-style: inherit;
      outline: 0;
      vertical-align: baseline;
      clear: both;
      box-sizing: border-box;
      padding: 0;
      line-height: 1.3;
      font-weight: 700;
      font-family: "Poppins", sans-serif;
      margin: 0;
      color: #ffffff;
      font-size: 17px;
    }
  }
}
/* Styles that apply when flex items wrap */
@media (max-width: 768px) {
  #banner-subheader {
    padding-right: 10px;
  }
}
