.hd-container {
    background-image: url('../assets/img/famous-monuments-world_117023-91-1.jpg');
    // Other background properties can be set here
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    // transition: 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 18px;
    margin-bottom: 18px;
    padding: 112px 0px 0px 0px;

    .hd-background-overlay {
        position: absolute;
        box-sizing: border-box;
        height: 100%;
        // position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        background-color: #00adef;
        opacity: 0.9;
    }

    .hd-content {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 105px;
        padding-top: 15px;
        // gap: 20px;

        h1 {
            margin-top: 0;
            // padding: 0;
            font-family: Poppins, sans-serif;
            font-size: 60px;
            font-style: normal;
            font-weight: 700;
            line-height: 72px;
            color: rgb(255, 255, 255)
        }

        p {
            margin: 0;
            font-family: "Open Sans", sans-serif;
            font-size: 25px;
            font-style: normal;
            font-weight: 400;
            line-height: 46.4286px;
            text-align: center;
            color: rgb(255, 255, 255);
        }
    }

    .hd-footer {
        transform: rotate(180deg);
        bottom: -1px;
        overflow: hidden;
        position: absolute;
        left: 0;
        width: 100%;
        line-height: 0;
        direction: ltr;

        .svg {
            width: calc(100% + 1.3px);
            height: 75px;
            z-index: -1;
            overflow: hidden;
            display: inline;
            overflow: hidden;
            display: block;
            width: calc(100% + 1.3px);
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.gl.hd-container {
    background-image: none;
    padding: 59px 0px 0px 0px;
    padding-left: 8%;

    .gl.hd-content {
        align-items: flex-start;

        h1 {
            margin-bottom: 20px;
        }

        p {
            word-wrap: break-word;
            border: 0;
            font-style: inherit;
            outline: 0;
            vertical-align: baseline;
            clear: both;
            box-sizing: border-box;
            padding: 0;
            line-height: 1.3;
            font-weight: 700;
            font-family: 'Poppins', sans-serif;
            margin: 0;
            color: #FFFFFF;
            font-size: 17px;
        }
    }
}