@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,500;0,700;0,800;1,100;1,300;1,500;1,700&family=Roboto:ital,wght@0,100;0,700;1,100;1,300;1,400;1,500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Raleway:wght@600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap");

$Poppins: "Poppins", sans-serif;
$raieway: "Raleway", sans-serif;
$playfair: "Playfair Display", serif;
//colors
$Dark: #1d3124;

// font color
$brownish: #565656;

$light: hsl(51, 44%, 94%);
$primary: #00adef;
$textColor: #13adb7;
// $primary: #13adb7;
// $textColor: #00adef;
$second: rgb(37, 150, 190);
$third: #ee7b28;
$lightBlue: #999999;
$secondaryTextColor: #74a4f8;
$brightBlue: #005eff;
$hoverBlue: #004ac9;
$darkBlue: rgb(0, 4, 133);
// $primary: #01adf1;
$bg: rgb(244, 244, 255);
$grey: rgb(232, 232, 232);
$lightGrey: rgb(241, 241, 241);
// $main: rgb(255 219 0);

//spacing
$spacing-md: 12px;
$spacing-lg: 32px;

//fonts
$sm-tl: 25px;
$md-tl: 30px;
$lg-tl: 35px;

//border radius
$borderRadius: 12px;

//header height
$headerHeight: 50px;

//laptop wrapper padding
$fullPadding: 5rem;
$resPadding: calc(0.2rem + 2vw);
$mobilePadding: 1.5rem;

//mix

@mixin breakpoint($point) {
  @if $point ==sm {
    //480px
    @media (min-width: 480px) {
      @content;
    }
  }

  @if $point ==md {
    // 768px
    @media (min-width: 780px) {
      @content;
    }
  }

  @if $point ==mdP {
    @media (min-width: 920px) {
      @content;
    }
  }

  @if $point ==lg {
    // 1080px
    @media (min-width: 1280px) {
      @content;
    }
  }

  @if $point ==mdl {
    // 1080px
    @media (min-width: 1114px) {
      @content;
    }
  }
}
